# Analise Estat√≠stica Descritiva

# üìò Dicion√°rio de Dados  
**Projeto:** Previs√£o de Churn de Clientes de Cart√£o de Cr√©dito  
**Dataset:** `clientes_cartao_credito_traduzido.csv`  
**Fonte:** Kaggle ‚Äì Credit Card Customers  

---

## üßæ Vis√£o Geral

- **Unidade de an√°lise:** Cliente  
- **Total de registros:** 10.127  
- **Tipo de problema:** Classifica√ß√£o bin√°ria  
- **Vari√°vel alvo:** `Status_Cliente`  

Cada linha do dataset representa um cliente √∫nico e suas caracter√≠sticas demogr√°ficas, comportamentais e de uso do cart√£o de cr√©dito.

---

## üéØ Vari√°vel Alvo

| Vari√°vel | Tipo | Descri√ß√£o |
|--------|------|-----------|
| Status_Cliente | Categ√≥rica | Indica se o cliente permanece ativo ou cancelou o cart√£o |

**Valores poss√≠veis:**
- Cliente Ativo  
- Cliente Cancelado  

---

## üë§ Vari√°veis Demogr√°ficas

| Vari√°vel | Tipo | Descri√ß√£o |
|--------|------|-----------|
| Idade | Inteiro | Idade do cliente em anos |
| Genero | Categ√≥rica | G√™nero do cliente |
| Numero_Dependentes | Inteiro | Quantidade de dependentes |
| Nivel_Educacao | Categ√≥rica | N√≠vel educacional |
| Estado_Civil | Categ√≥rica | Estado civil |
| Faixa_Renda | Categ√≥rica | Faixa de renda anual estimada |

### Valores Categ√≥ricos

- **Genero:** Masculino, Feminino  
- **Nivel_Educacao:**  
  - Ensino M√©dio  
  - Ensino Superior  
  - Gradua√ß√£o  
  - P√≥s-Gradua√ß√£o  
  - Doutorado  
  - Sem Escolaridade  
  - N√£o Informado  
- **Estado_Civil:** Casado, Solteiro, Divorciado, N√£o Informado  
- **Faixa_Renda:**  
  - Menos de 40k  
  - 40k a 60k  
  - 60k a 80k  
  - 80k a 120k  
  - Acima de 120k  
  - N√£o Informado  

---

## üí≥ Vari√°veis do Cart√£o de Cr√©dito

| Vari√°vel | Tipo | Descri√ß√£o |
|--------|------|-----------|
| Categoria_Cartao | Categ√≥rica | Tipo do cart√£o do cliente |
| Limite_Credito | Num√©rica | Limite total de cr√©dito |
| Saldo_Rotativo | Num√©rica | Saldo rotativo atual |
| Limite_Disponivel | Num√©rica | Limite dispon√≠vel para uso |
| Taxa_Utilizacao_Credito | Num√©rica | Percentual m√©dio de utiliza√ß√£o do limite |

**Valores poss√≠veis ‚Äì Categoria_Cartao:**  
Azul, Prata, Ouro, Platina

---

## üîÑ Relacionamento com o Banco

| Vari√°vel | Tipo | Descri√ß√£o |
|--------|------|-----------|
| Meses_Relacionamento | Inteiro | Tempo de relacionamento com o banco (meses) |
| Total_Produtos | Inteiro | Total de produtos contratados |
| Meses_Inativos_12m | Inteiro | Meses sem atividade nos √∫ltimos 12 meses |
| Contatos_12m | Inteiro | N√∫mero de contatos com o banco nos √∫ltimos 12 meses |

---

## üìà Comportamento de Transa√ß√µes

| Vari√°vel | Tipo | Descri√ß√£o |
|--------|------|-----------|
| Valor_Total_Transacoes | Num√©rica | Valor total transacionado |
| Quantidade_Transacoes | Inteiro | Quantidade total de transa√ß√µes |
| Variacao_Valor_Transacoes | Num√©rica | Varia√ß√£o do valor entre trimestres |
| Variacao_Qtd_Transacoes | Num√©rica | Varia√ß√£o da quantidade entre trimestres |

---

## üß† Observa√ß√µes Anal√≠ticas

- O dataset apresenta **desbalanceamento de classes** na vari√°vel `Status_Cliente`.

- Vari√°veis com alto potencial preditivo:
  - `Meses_Inativos_12m`
  - `Quantidade_Transacoes`
  - `Taxa_Utilizacao_Credito`
- A vari√°vel `ID_Cliente` n√£o deve ser usada como feature no modelo.
---

### Carregando Dados

In [1]:
import pandas as pd

In [4]:
from utils.general import *

In [5]:
dados_path = catchPath('data/clientes_cartao_credito_traduzido.csv')
dados_path

'/ML/data/clientes_cartao_credito_traduzido.csv'

In [6]:
dados = pd.read_csv(dados_path)
dados.head()

,ID_Cliente,Status_Cliente,Idade,Genero,Numero_Dependentes,Nivel_Educacao,Estado_Civil,Faixa_Renda,Categoria_Cartao,Meses_Relacionamento,...,Limite_Credito,Saldo_Rotativo,Limite_Disponivel,Variacao_Valor_Transacoes,Valor_Total_Transacoes,Quantidade_Transacoes,Variacao_Qtd_Transacoes,Taxa_Utilizacao_Credito,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Cliente Ativo,45,Masculino,3,Ensino M√©dio,Casado,60k a 80k,Azul,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Cliente Ativo,49,Feminino,5,Gradua√ß√£o,Solteiro,Menos de 40k,Azul,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Cliente Ativo,51,Masculino,3,Gradua√ß√£o,Casado,80k a 120k,Azul,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Cliente Ativo,40,Feminino,4,Ensino M√©dio,N√£o Informado,Menos de 40k,Azul,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Cliente Ativo,40,Masculino,3,Sem Escolaridade,Casado,60k a 80k,Azul,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   ID_Cliente                                                                                                                          10127 non-null  int64
 1   Status_Cliente                                                                                                                      10127 non-null  object
 2   Idade                                                                                                                               10127 non-null  int64
 3   Genero                                                                                                                              10127 non-null  object
 4   Numero_Dependentes                                                                                                                  10127 non-null  int64
 5   Nivel_Educacao                                                                                                                      10127 non-null  object
 6   Estado_Civil                                                                                                                        10127 non-null  object
 7   Faixa_Renda                                                                                                                         10127 non-null  object
 8   Categoria_Cartao                                                                                                                    10127 non-null  object
 9   Meses_Relacionamento                                                                                                                10127 non-null  int64
 10  Total_Produtos                                                                                                                      10127 non-null  int64
 11  Meses_Inativos_12m                                                                                                                  10127 non-null  int64
 12  Contatos_12m                                                                                                                        10127 non-null  int64
 13  Limite_Credito                                                                                                                      10127 non-null  float64
 14  Saldo_Rotativo                                                                                                                      10127 non-null  int64
 15  Limite_Disponivel                                                                                                                   10127 non-null  float64
 16  Variacao_Valor_Transacoes                                                                                                           10127 non-null  float64
 17  Valor_Total_Transacoes                                                                                                              10127 non-null  int64
 18  Quantidade_Transacoes                                                                                                               10127 non-null  int64
 19  Variacao_Qtd_Transacoes                                                                                                             10127 non-null  float64
 20  Taxa_Utilizacao_Credito                                                                                                             10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [10]:
dados.shape

(10127, 23)

In [11]:
#checando valores nulos
dados.isnull().any()

ID_Cliente                                                                                                                            False
Status_Cliente                                                                                                                        False
Idade                                                                                                                                 False
Genero                                                                                                                                False
Numero_Dependentes                                                                                                                    False
Nivel_Educacao                                                                                                                        False
Estado_Civil                                                                                                                          False
Faixa_Renda                                                                                                                           False
Categoria_Cartao                                                                                                                      False
Meses_Relacionamento                                                                                                                  False
Total_Produtos                                                                                                                        False
Meses_Inativos_12m                                                                                                                    False
Contatos_12m                                                                                                                          False
Limite_Credito                                                                                                                        False
Saldo_Rotativo                                                                                                                        False
Limite_Disponivel                                                                                                                     False
Variacao_Valor_Transacoes                                                                                                             False
Valor_Total_Transacoes                                                                                                                False
Quantidade_Transacoes                                                                                                                 False
Variacao_Qtd_Transacoes                                                                                                               False
Taxa_Utilizacao_Credito                                                                                                               False
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    False
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    False
dtype: bool

In [12]:
dados.columns

Index(['ID_Cliente', 'Status_Cliente', 'Idade', 'Genero', 'Numero_Dependentes',
       'Nivel_Educacao', 'Estado_Civil', 'Faixa_Renda', 'Categoria_Cartao',
       'Meses_Relacionamento', 'Total_Produtos', 'Meses_Inativos_12m',
       'Contatos_12m', 'Limite_Credito', 'Saldo_Rotativo', 'Limite_Disponivel',
       'Variacao_Valor_Transacoes', 'Valor_Total_Transacoes',
       'Quantidade_Transacoes', 'Variacao_Qtd_Transacoes',
       'Taxa_Utilizacao_Credito',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [13]:
c = ['ID_Cliente', 'Status_Cliente', 'Idade', 'Genero', 'Numero_Dependentes',
       'Nivel_Educacao', 'Estado_Civil', 'Faixa_Renda', 'Categoria_Cartao',
       'Meses_Relacionamento', 'Total_Produtos', 'Meses_Inativos_12m',
       'Contatos_12m', 'Limite_Credito', 'Saldo_Rotativo', 'Limite_Disponivel',
       'Variacao_Valor_Transacoes', 'Valor_Total_Transacoes',
       'Quantidade_Transacoes', 'Variacao_Qtd_Transacoes',
       'Taxa_Utilizacao_Credito']

In [20]:
df = dados[c].copy()
df.shape

(10127, 21)

In [21]:
#checando duplicatas
df.duplicated().sum()

0

### Criando uma nova coluna para a variavel categorica Status_Cliente

In [22]:
df.head(3)

,ID_Cliente,Status_Cliente,Idade,Genero,Numero_Dependentes,Nivel_Educacao,Estado_Civil,Faixa_Renda,Categoria_Cartao,Meses_Relacionamento,...,Meses_Inativos_12m,Contatos_12m,Limite_Credito,Saldo_Rotativo,Limite_Disponivel,Variacao_Valor_Transacoes,Valor_Total_Transacoes,Quantidade_Transacoes,Variacao_Qtd_Transacoes,Taxa_Utilizacao_Credito
0,768805383,Cliente Ativo,45,Masculino,3,Ensino M√©dio,Casado,60k a 80k,Azul,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Cliente Ativo,49,Feminino,5,Gradua√ß√£o,Solteiro,Menos de 40k,Azul,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Cliente Ativo,51,Masculino,3,Gradua√ß√£o,Casado,80k a 120k,Azul,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000

In [23]:
df['classe'] = df['Status_Cliente'].map({'Cliente Ativo': 1, 'Cliente Cancelado': 0})
df.head()

,ID_Cliente,Status_Cliente,Idade,Genero,Numero_Dependentes,Nivel_Educacao,Estado_Civil,Faixa_Renda,Categoria_Cartao,Meses_Relacionamento,...,Contatos_12m,Limite_Credito,Saldo_Rotativo,Limite_Disponivel,Variacao_Valor_Transacoes,Valor_Total_Transacoes,Quantidade_Transacoes,Variacao_Qtd_Transacoes,Taxa_Utilizacao_Credito,classe
0,768805383,Cliente Ativo,45,Masculino,3,Ensino M√©dio,Casado,60k a 80k,Azul,39,...,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,1
1,818770008,Cliente Ativo,49,Feminino,5,Gradua√ß√£o,Solteiro,Menos de 40k,Azul,44,...,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1
2,713982108,Cliente Ativo,51,Masculino,3,Gradua√ß√£o,Casado,80k a 120k,Azul,36,...,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,1
3,769911858,Cliente Ativo,40,Feminino,4,Ensino M√©dio,N√£o Informado,Menos de 40k,Azul,34,...,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,1
4,709106358,Cliente Ativo,40,Masculino,3,Sem Escolaridade,Casado,60k a 80k,Azul,21,...,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,1

In [25]:
#Se o cliente esta ativo: 1 se n√£o 0.
df['classe'].value_counts()

classe
1    8500
0    1627
Name: count, dtype: int64

In [26]:
from utils.norm_test import *
from utils.pre_process import *

In [27]:
SaveDataFrame(df,'data')

### Separando as variaveis categoricas das numericas

In [28]:
numerical_features = df.select_dtypes('number').columns.tolist()

In [29]:
categorical_features = df.select_dtypes('object').columns.tolist()

# 1Ô∏è‚É£ Pareamento por Status do Cliente (Principal)
üîπ Objetivo

Ver quais vari√°veis diferem significativamente entre:

Cliente Ativo

Cliente Cancelado

üîπ Vari√°veis Num√©ricas (Compara√ß√£o de M√©dias)

pares:

| Vari√°vel                | Hip√≥tese                                     |
| ----------------------- | -------------------------------------------- |
| Idade                   | Clientes cancelados tendem a ser mais jovens |
| Limite_Credito          | Cancelados possuem limites menores           |
| Quantidade_Transacoes   | Cancelados realizam menos transa√ß√µes         |
| Valor_Total_Transacoes  | Cancelados movimentam menos                  |
| Taxa_Utilizacao_Credito | Cancelados utilizam menos o cr√©dito          |
| Meses_Inativos_12m      | Cancelados ficam mais tempo inativos         |